/*
Główna część arkusza odpowiadająca za panel administracyjny
*/
@font-face {
    font-family: CabinCondensed-Bold;
    src: url(../czcionki/CabinCondensed-Bold.ttf);
}
@font-face {
    font-family: CabinCondensed-Medium;
    src: url(../czcionki/CabinCondensed-Medium.ttf);
}
@font-face {
    font-family: CabinCondensed-Regular;
    src: url(../czcionki/CabinCondensed-Regular.ttf);
}
@font-face {
    font-family: CabinCondensed-SemiBold;
    src: url(../czcionki/CabinCondensed-SemiBold.ttf);
}
body {
    margin: 0;                
    background-color: white;
    color: black;
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 12px;
}
div.naglowek {
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: steelblue;
    float: left;
}
p.naw_naglowek {
    margin-right: 25px;
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 12px;
    color: white;
    text-align: right;    
}
a.wyl_link {
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 12px;
    color: orange;
}
a.wyl_link:hover {
    color: wheat;
}
div.glowna {
    margin: 0;           
    width: 100%;
    height: 500px;
    background-color: white;    
}
div.lewy_panel {                  
    width: 250px;
    height: 100%;
    background-color: steelblue; 
    float: left;   
}
h3.naglowek_menu {
    font-family: CabinCondensed-Bold, sans-serif;
    font-size: 24px;
    color: white;        
}
p.nawigacja {
    font-size: 10px;
    text-align: center;
}
button.lewe_przyciski {
    transition-duration: 0.4s;
    width: 180px;
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 20px;
    padding: 5px;
    color: black;    
    background-color: orange;
    border: 1px solid navy;
    border-radius: 5px;
    cursor: pointer;
}
button.lewe_przyciski:hover {
    background-color: wheat;
}
div.logo {
    margin: auto;    
    width: 200px;    
}
div.lewe_menu {
    margin: 25px auto;
    width: 200px;    
    font-family: CabinCondensed-Regular, sans-serif;
    color: white;
}
div.centrum {
    margin: 0;
    width: 800px;
    float: left;
}
div.strona {
    margin: 25px auto;
    width: 90%;
}
div.stopka {
    margin: 0;
    width: 100%;
    height: 50px;
    background-color: steelblue;
    float: left;
}
p.stopka {
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 16px;
    color: wheat;
    text-align: center;
}
/* ############# koniec */

/* Arkusz styli dla modułu odpowiedzialnego za dodawanie stron */

h1.tytul_gl {
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 32px;
    color: goldenrod;
}
button.sr_przyciski {
    transition-duration: 0.4s;    
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 16px;
    padding: 5px 10px;
    color: black;    
    background-color: orange;
    border: 1px solid navy;
    border-radius: 5px;
    cursor: pointer;
}
button.sr_przyciski:hover {
    background-color: wheat;
}

/* ############# koniec */