@font-face {
    font-family: CabinCondensed-Bold;
    src: url(../czcionki/CabinCondensed-Bold.ttf);
}
@font-face {
    font-family: CabinCondensed-Medium;
    src: url(../czcionki/CabinCondensed-Medium.ttf);
}
@font-face {
    font-family: CabinCondensed-Regular;
    src: url(../czcionki/CabinCondensed-Regular.ttf);
}
@font-face {
    font-family: CabinCondensed-SemiBold;
    src: url(../czcionki/CabinCondensed-SemiBold.ttf);
}
body {
    background-color: white;
    color: black;
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 12px;
}
div.glowna {
    float: left;
    margin: 0px;
    width: 100%;
    background-color: white;
}
div.lewy_panel {
    float: left;
    width: 200px 20%;
    height: 100%;
    background-color: steelblue;
}
div.logo {
    margin: 0 auto;
}
div.lewe_menu {
    margin: 0 auto;
    font-family: CabinCondensed-Regular, sans-serif;
    color: white;
}