@font-face {
    font-family: CabinCondensed-Bold;
    src: url(../czcionki/CabinCondensed-Bold.ttf);
}
@font-face {
    font-family: CabinCondensed-Medium;
    src: url(../czcionki/CabinCondensed-Medium.ttf);
}
@font-face {
    font-family: CabinCondensed-Regular;
    src: url(../czcionki/CabinCondensed-Regular.ttf);
}
@font-face {
    font-family: CabinCondensed-SemiBold;
    src: url(../czcionki/CabinCondensed-SemiBold.ttf);
}
body {
    margin: 0;                
    background-color: white;
    color: black;
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 12px;
}
div.glowna {
    margin: 0;           
    width: 100%;
    background-color: white;    
}
div.lewy_panel {                  
    width: 250px;
    height: 500px;
    background-color: steelblue; 
    float: left;   
}
div.logo {
    margin: 25px auto;    
    width: 200px;    
}
div.lewe_menu {    
    font-family: CabinCondensed-Regular, sans-serif;
    color: white;
}