@font-face {
    font-family: CabinCondensed-Bold;
    src: url(../czcionki/CabinCondensed-Bold.ttf);
}
@font-face {
    font-family: CabinCondensed-Medium;
    src: url(../czcionki/CabinCondensed-Medium.ttf);
}
@font-face {
    font-family: CabinCondensed-Regular;
    src: url(../czcionki/CabinCondensed-Regular.ttf);
}
@font-face {
    font-family: CabinCondensed-SemiBold;
    src: url(../czcionki/CabinCondensed-SemiBold.ttf);
}
body {
    background-color: white;
    color: black;
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 12px;
}
div.rdzen {
    margin: 0 auto;
    width: 80%;
}
div.naglowek {
    background-color: white;
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 12px;
    color: black;
}
h1.tytul {
    font-family: CabinCondensed-Bold, sans-serif;
    font-size: 38px;
    color: goldenrod;
    }