@font-face {
    font-family: CabinCondensed-Bold;
    src: url(../czcionki/CabinCondensed-Bold.ttf);
}
@font-face {
    font-family: CabinCondensed-Medium;
    src: url(../czcionki/CabinCondensed-Medium.ttf);
}
@font-face {
    font-family: CabinCondensed-Regular;
    src: url(../czcionki/CabinCondensed-Regular.ttf);
}
@font-face {
    font-family: CabinCondensed-SemiBold;
    src: url(../czcionki/CabinCondensed-SemiBold.ttf);
}
body {
    background-color: white;
    color: black;
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 12px;
}
div.rdzen {
    margin: 0 auto;
    width: 80%;
}
div.naglowek {
    background-color: white;
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 12px;
    color: black;
    width: 100%;
}
h1.tytul {
    font-family: CabinCondensed-Bold, sans-serif;
    font-size: 38px;
    text-align: center;
    color: goldenrod;
    }
div.strona_rdzen {
    background-color: white;
    width: 100%;
}
div.form_rdzen {
    margin: 0 auto;
    background-color: steelblue;
    border-radius: 25px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: black;
    width: 450px;
    height: 245px;    
}
div.form_log {    
    margin: 0 auto;
    margin-top: 25px;
    width: 80%;        
}
p.form_log_instrukcja {
    font-family: CabinCondensed-SemiBold, sans-serif;
    font-size: 16px;
    color: gold;
    text-align: center;
}
td.login {
    font-family: CabinCondensed-SemiBold, sans-serif;
    color: white;
    font-size: 20px;
    text-align: right;
}
td.haslo {
    font-family: CabinCondensed-SemiBold, sans-serif;
    color: white;
    font-size: 20px;
    text-align: right;
}
input[type=text].login_uz {
    font-family: CabinCondensed-Medium, sans-serif;
    color: steelblue;
    font-size: 20px;
    border: 1px solid goldenrod;
    border-radius: 5px;
}
input[type=password].haslo_uz {
    font-family: CabinCondensed-Medium, sans-serif;
    color: steelblue;
    font-size: 20px;
    border: 1px solid goldenrod;
    border-radius: 5px;
}
td.nawigacja {
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 28px;
    color: black;
    text-align: center;
}
input[type=reset].wyczysc {
    transition-duration: 0.4s;
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 20px;
    padding: 10px 24px;
    color: white;    
    background-color: goldenrod;
    border: 1px solid navy;
    border-radius: 5px;
    cursor: pointer;
}
input[type=reset].wyczysc:hover {    
    background-color: rgb(252, 197, 58);    
}
input[type=submit].zaloguj {
    transition-duration: 0.4s;
    font-family: CabinCondensed-Regular, sans-serif;
    font-size: 20px;
    padding: 10px 24px;
    color: white;    
    background-color: rgb(74, 209, 32);
    border: 1px solid navy;
    border-radius: 5px;
    cursor: pointer;
}
input[type=submit].zaloguj:hover {   
    background-color: rgb(85, 245, 37);    
}
div.stopka {           
    width: 100%;
    height: 60px;
    background-color: steelblue;
}
p.stopka {
    margin-left: 25px;           
    font-family: CabinCondensed-Medium, sans-serif;
    font-size: 18px;
    color: white;    
}